*{
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	padding: 0;
	background-color: rgb(252, 228, 236);
	font-family: 'Roboto', sans-serif;
}

#color {
    background-color: rgb(233, 30, 99); 
    color: #fff;
    text-align:center;
    width: 100%;
    height: 250px;
}

h1 {
    margin: 0;
    padding-top: 130px;
}

form {
	width: 600px;
    display: block;
    background-color: #fff;
    border-top: 8px solid rgb(255, 128, 171);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    color: #000;
    margin: -50px auto 50px;
    padding: 30px;
}

p {
	font-size: 16px;
	text-align:left;
}

span {
	color: #db4437;
	margin: 5px;
}

label, .radio {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
    display: block;
    padding-top: 30px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
	width: 400px;
	border: none;
	border-bottom: 2px solid #e1e1e1;
	height: 30px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(233, 30, 99);
    transition: 0.8s ease-in-out;
}

.age input[type="radio"]{
	border: none;
	background:transparent;
	background-color: #fff;
	border: 1px solid black;
	}

input[type="radio"],
input[type="checkbox"] {
	border: none;
	border: 2px solid #ddd;
	width: 18px;
	height: 18px;
	margin-bottom: 13px;
	margin-right: 15px;
	display: inline-block;
	background-color: #fff;
	padding-right: 20px;
	vertical-align: -webkit-baseline-middle;
}

input[type="radio"]:focus {
	border: 2px solid rgb(233, 30, 99);
}
	
input[type="submit"] {
    width: 50%;
    background-color: rgb(233, 30, 99);
    color: white;
    padding: 14px 20px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    margin: auto;
    margin-top: 50px;
}

input[type="submit"]:hover {
    background-color:rgb(174, 0, 59);

}